<div>
	<%= form_for @weight, url: {action: "create"} do |f| %>
		<%= f.label "Date" %>
		<%= f.date_field :date, :value => Date.today %>
		<%= f.label "Weight" %>
		<%= f.number_field(:reading) %>
		<%= f.submit "Submit Weight" %>
	<% end %>
</div>