<!DOCTYPE html>
<html>
<head>
  <title>BikeFitBeta</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

	 <hr>
	  <p><% if user_signed_in? %> <!-- if user is signed in, display sign-out button, if not, display button to sign up or log in -->
		<p>Signed in as : <b class="username"><%= current_user.email %></b> or <%= link_to "Sign out", destroy_user_session_path, :method => 'delete' %></p>
		<% else %>
			<a href="/users/sign_in">Sign In</a> or <a href="/users/sign_up">Sign Up</a>
		<% end %></p><hr>

<%= yield %>

</body>
</html>
