<!DOCTYPE html>
<html>
<head>
  <title>BikeFitBeta</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="header">
		<div class="appname">
			<h1 id = "appname">BikeFit Warren</h1>
		</div>
		<div class="signin">
			<% if user_signed_in? %> <!-- if user is signed in, display sign-out button, if not, display button to sign up or log in -->
				<p class="navigation">Signed in as : <%= current_user.email %> or <%= link_to "Sign out", destroy_user_session_path, :method => 'delete', :class => 'navigation' %></p>
			<% else %>
				<p class="navigation"><a class="navigation" href="/users/sign_in">Sign In</a> or <a class="navigation" href="/users/sign_up">Sign Up</a></p>
			<% end %>
		</div>
	</div>

	<div class="navbar">
		<% if user_signed_in? %>

				<a class = "navitem" href="/profile/<%= current_user.id %>">My Profile</a>

				<%= link_to "New Ride", {:controller => "rides", :action => "new"}, :class=>"navitem" %>

				<%= link_to "New Weight", {:controller => "weights", :action => "new"}, :class=>"navitem" %>

		<% end %>

	</div>	
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
